<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.LiveMeeting.RecordingExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Microsoft.LiveMeeting.RecordingExporter.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfCenter" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PostingURL" serializeAs="String">
                <value />
            </setting>
            <setting name="RecViewerCompany" serializeAs="String">
                <value />
            </setting>
            <setting name="RecViewerEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="RecViewerName" serializeAs="String">
                <value />
            </setting>
        </Microsoft.LiveMeeting.RecordingExporter.Properties.Settings>
    </userSettings>
</configuration>